body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f6f7;
}

.destino{
    margin-top: 40px;
    text-align: center;
}

.destino h4{
    color:#f0b103;
}

.card{
    margin-top: 30px;
    width: 18rem;
}

.card-img-top{
    width: 286px;
    height: 180px;
}

.promocoes{
    margin-top: 40px;
    text-align: center;
    color: #f0b103;
}

.contato{
    margin-top: 50px;
    text-align: center;
    color: #f0b103;
}


#info{
    color:#000000;
}


footer{
    text-align: center;
    color: #808080;
    font-size: small;
}